html, body {
  background-color: #e6e6ed;
  color: #000000;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
a {
  color: #848a97;
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
  padding: 0;
  margin: 0;
}
#wrapper{
  min-height: 100%;
}
#main{
  overflow: auto;
  padding-bottom: 53px;
}
footer{
  color: #848a97;
  background-color: #262b35;
  border-top: 3px solid #ff4452;
  width: 100%;
  position: relative;
  margin-top: -53px;
  height: 53px;
  clear: both;
}
.bot {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
p{
  margin: 0;
  padding: 0;
}
.content{
  width: 60%;
  margin: 10px auto;
}
.headContainer {
  padding: 5px 0;
  background-color: #262b35;
  border-bottom: 3px solid #ff4452;
}
.head{
  width: 90%;
  margin: 0px auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.headLinks {
  font-size: 20px;
  color: #848a97;
  display: flex;
}
.headLinks a{
  color: inherit;
}
ul{
  margin: 0;
}
